openapi: 3.1.0
info:
  title: First Street API
  description: >-
    First Street provides property-level physical climate risk data via several
    APIs: a GraphQL Climate Risk API, a GraphQL Enterprise API, and a tile-based
    Raster Map API. Authentication is by API key, either as the `key` query
    parameter or an `Authorization: Bearer <key>` header.
  version: "3.0"
  contact:
    name: First Street
    url: https://docs.firststreet.org/api
servers:
  - url: https://api.firststreet.org
    description: First Street production
security:
  - apiKeyQuery: []
  - bearerAuth: []
paths:
  /v3/graphql:
    post:
      summary: Climate Risk GraphQL endpoint
      description: >-
        Run queries and mutations against the Climate Risk GraphQL schema for
        point and parcel-level climate risk (flood, fire, heat, wind, air).
      operationId: climateRiskGraphql
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                variables:
                  type: object
                operationName:
                  type: string
      responses:
        "200":
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  errors:
                    type: array
                    items:
                      type: object
  /enterprise/graphql:
    post:
      summary: Enterprise GraphQL endpoint
      description: Portfolio-level aggregated climate risk queries.
      operationId: enterpriseGraphql
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                variables:
                  type: object
                operationName:
                  type: string
      responses:
        "200":
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object
  /v2/maps/tile/{peril}/{product}/{z}/{x}/{y}.png:
    get:
      summary: Fetch a raster map tile for a climate peril
      operationId: getRasterTile
      parameters:
        - name: peril
          in: path
          required: true
          schema:
            type: string
            enum: [flood, fire, heat, wind, air]
        - name: product
          in: path
          required: true
          schema:
            type: string
        - name: z
          in: path
          required: true
          schema:
            type: integer
        - name: x
          in: path
          required: true
          schema:
            type: integer
        - name: "y"
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: PNG tile
          content:
            image/png:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: key
    bearerAuth:
      type: http
      scheme: bearer
